<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Five-minute Journal</title>
  <link rel="stylesheet" type="text/css" href="css1.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="scripts1.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
  <div id="slideshow">


    <div class="slideitem current">

      <% data.forEach(function(data) {  %>
      <h2><%= data.journal.learnt %><h2>
     <% }); %>

    </div>
    <div class="slideitem">
      <% data.forEach(function(data) {  %>
      <h2><%= data.journal.better %><h2>
     <% }); %>
    </div>
    <div class="slideitem">
      <% data.forEach(function(data) {  %>
      <h2><%= data.journal.gratefulthings.first %><h2>
      <h2><%= data.journal.gratefulthings.second %><h2>
      <h2><%= data.journal.gratefulthings.third %><h2>
     <% }); %>
    </div>
    

  </div>


  <footer>
    <p class="text-center text-muted">© Copyright 2018 Mengzhen Xiao</p>
  </footer>

</body>

</html>
