<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Five-minute Journal</title>
  <link rel="stylesheet" type="text/css" href="css1.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="scripts1.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="icon" href="icon.png" type="image/x-icon" />
</head>

<body>


  <div id="slideshow">


    <div class="slideitem current">
      <h1>What I learnt?</h1>
      <br>
      <br>
      <% data.forEach(function(data) {  %>
        <p><%= data.journal.learnt %><p>
     <% }); %>

    </div>
    <div class="slideitem">
      <h1>How could I have made my day even better?</h1>
      <br>
      <br>
      <% data.forEach(function(data) {  %>
      <p><%= data.journal.better %><p>
     <% }); %>
    </div>
    <div class="slideitem">
      <h1>I am grateful for...</h1>
      <br>
      <br>
      <% data.forEach(function(data) {  %>
      <p><%= data.journal.gratefulthings.first %><p>
      <p><%= data.journal.gratefulthings.second %><p>
      <p><%= data.journal.gratefulthings.third %><p>
     <% }); %>
    </div>
  </div>

  <button id="addNew" onclick="location.href='/#form'">Write</button>



  <!-- <footer>
    <p class="text-center text-muted">© Copyright 2018 Mengzhen Xiao</p>
  </footer>

</body> -->

</html>
